<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/cart.css" />
   <link rel="stylesheet" type="text/css" href="/css/cart-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/cart-desktop.css"/>
  
  <body>
      <div>
      <%- include ('../partials/header') %>
      <main class="mainCart">
        <h2 class="tituloCart">
          <i class="fa-solid fa-basket-shopping"></i> Tus Compras
        </h2>
        <div class="cart">
          <section>
      <% for (let i= 0; i< cartProduct.length; i++ ){ %> <% if(cartProduct[i].name != 'DELETED')
      {%>
        
        <article>
          <h4 class="tituloProducto"><%= cartProduct[i].name %></h4>
          
             <img
                class="imagenesCart"
                src="/images/<%= cartProduct[i].image %>"
              />

                
                <p class="breveDescripcion"><%= cartProduct[i].descShort %></p>
                <div class="cajaPrecio">
              <section class="precio">$<%= cartProduct[i].price %></section>
                </div>
                  <section class="descShort"><%= cartProduct[i].discount %>%</section>

                  <div class="botonEliminar">
      
                        <form
                        class="field"
                         method="POST"
                         action="/viewProduct/eliminar?_method=POST">
                 <a href="/cart/<%= cartProduct[i].id%>/eliminarProduct">ELIMINAR</a>
              
            </form>
            
            </div>
                  </section>

            </article>
            <% } %> <%} %>  
            <a href="/"><button class="botones">Volver</button></a>
        </div>
      </main>
   </section>
    <%- include ('../partials/footer') %>
  </body>
</html>


      