<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productEdit.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-desktop.css" />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div class="banner">
        <img src="/images/banner.jpg" />
      </div>
      <div id="container">
        <form
          action="/viewProduct/edit"
          method="POST"
          class="fields"
          enctype="multipart/form-data"
        >
          <input
            class="input-fields"
            type="hidden"
            name="id"
            value="<%= productList.id %>"
            readonly="readonly"
          />
          <label for="">Nombre: </label>
          <input
            class="input-fields"
            class="input"
            type="text"
            name="name"
            value="<%= productList.name %>"
          />

          <label for="">Descripcion corta:</label>
          <input
            class="input-fields"
            type="text"
            name="descShort"
            value="<%= productList.descShort %>"
          />

          <label for="">Descripcion larga:</label>
          <input
            class="input-fields"
            type="text"
            name="descLarge"
            value="<%= productList.descLarge %>"
          />

          <label for="">Precio:</label>
          <input
            class="input-fields"
            type="number"
            name="price"
            value="<%= productList.price %>"
          />

          <label for="">Descuento:</label>
          <input
            class="input-fields"
            type="number"
            name="discount"
            value="<%= productList.discount %>"
          />

          <label for="">Stock:</label>
          <input
            class="input-fields"
            type="number"
            name="stock"
            value="<%= productList.stock %>"
          />

          <div class="image-fields-container">
            <label for="image">Cambiar foto del producto:</label>
            <input
              class="image-upload"
              type="file"
              name="image"
              id="image"
              autocomplete="off"
            />
          </div>
          <input class="submit" type="submit" value="Actualizar datos" />
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
