<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productCreate.css" />
  <link rel="stylesheet" type="text/css" href="/css/productCreate-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/productCreate-desktop.css"
  />
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer src="/validationsFront/productCreate.js"></script>
  <script src="/scripts.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/validationsFront.css" />
  <body>
    <div class="errores">
      <ul></ul>
    </div>
    <%- include ('../partials/header') %>
    <main>
      <div class="container">
        <div class="box">
          <div class="title">
            <h1>Creación de producto</h1>
          </div>
          <div class="half1">
            <div class="image">
              <img class="preview" src="/images/newproduct.png" />
            </div>
          </div>
          <div class="half2">
            <form
              action="/viewProduct/createProduct"
              method="POST"
              class="fields"
              id="news"
              enctype="multipart/form-data"
            >
              <div class="name">
                <input
                  class="input-field"
                  type="text"
                  name="name"
                  autocomplete="off"
                  placeholder="Nombre del producto"
                  value="<%= locals.oldData ? oldData.name : null %>"
                />
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.name) { %>
                  <p class="msg-error"><%= locals.errors.name.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="descShort">
                <input
                  class="input-field"
                  type="text"
                  name="descShort"
                  autocomplete="off"
                  placeholder="Descripcion breve"
                  value="<%= locals.oldData ? oldData.descShort : null %>"
                />
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.descShort) { %>
                  <p class="msg-error"><%= locals.errors.descShort.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="descLarge">
                <textarea
                  class="input-field"
                  name="descLarge"
                  autocomplete="off"
                  placeholder="Descripcion larga"
                  value=""
                  rows="1"
                  cols="50"
                >
<%= locals.oldData ? oldData.descLarge : null %></textarea
                >
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.descLarge) { %>
                  <p class="msg-error"><%= locals.errors.descLarge.msg %></p>
                  <% } %>
                </div>
              </div>
              <div class="price">
                <input
                  class="input-field"
                  type="number"
                  name="price"
                  autocomplete="off"
                  placeholder="Precio"
                  value="<%= locals.oldData ? oldData.price : null %>"
                />
                <i class="fa fa-solid fa-hashtag"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.price) { %>
                  <p class="msg-error"><%= locals.errors.price.msg %></p>
                  <% } %>
                </div>
              </div>
              <div class="collection-create">
                <input
                  class="input-field"
                  type="text"
                  name="collection"
                  autocomplete="off"
                  placeholder="Categoria (opcional)"
                  value="<%= locals.oldData ? oldData.collection : null %>"
                />
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.collection) { %>
                  <p class="msg-error"><%= locals.errors.collection.msg %></p>
                  <% } %>
                </div>
              </div>
              <div class="discount">
                <input
                  class="input-field"
                  type="number"
                  name="discount"
                  autocomplete="off"
                  placeholder="Descuento (opcional)"
                  value="<%= locals.oldData ? oldData.discount : null %>"
                />
                <i class="fa fa-solid fa-hashtag"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.discount) { %>
                  <p class="msg-error"><%= locals.errors.discount.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="stock">
                <input
                  class="input-field"
                  type="number"
                  name="stock"
                  autocomplete="off"
                  placeholder="Cantidad de stock (opcional)"
                  value="<%= locals.oldData ? oldData.stock : null %>"
                />
                <i class="fa fa-solid fa-hashtag"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.discount) { %>
                  <p class="msg-error"><%= locals.errors.stock.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="image-fields-container">
                <label for="image">Seleccionar imagen</label>
                <input
                  class="image-upload"
                  type="file"
                  name="image"
                  id="image"
                  autocomplete="off"
                  onchange="loadFile(event)"
                  hidden
                />
                <div class="errors">
                  <p class="feed-img"></p>
                  <% if (errors.image) { %>
                  <p class="msg-error-img"><%= locals.errors.image.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="buttons">
                <div class="submit-container">
                  <input class="submit" type="submit" value="Crear producto" />
                </div>
                <div class="reset-container">
                  <button class="nav-reset" type="reset" value="reset">
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
