<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productDetail.css" />
  <link rel="stylesheet" type="text/css" href="/css/productDetail-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/productDetail-desktop.css"
  />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div id="container">
        <section class="producto">
          <div class="half-1">
            <div class="prd-name">
              <p><%= productList.name %></p>
            </div>
            <div class="image">
              <img
                class="preview"
                src="/images/<%= productList.images[0].path %>"
              />
            </div>
            <div class="description">
              <p class="discount">
                <% if(productList.discount.length == 0){ %> <%=
                productList.discount %> <% } else{ %> <%= productList.discount
                %>% off <% } %>
              </p>
              <div class="price">
                <p>$<%= productList.price %></p>
              </div>
              <form
                class="fields"
                method="POST"
                action="/cart/<%= productList.id %>/comprarProduct"
              >
                <input
                  class="AddCart"
                  type="submit"
                  value="Agregar al carrito"
                />
              </form>
              <a class="buy" href="">Comprar</a>
            </div>
          </div>
          <div class="half-2">
            <% if(userLoggedIn){ %>
            <a class="btn-edit" href="/viewProduct/<%= productList.id%>/editar"
              >EDITAR</a
            >
            <form
              class="fields"
              method="POST"
              action="/viewProduct/<%= productList.id%>/delete"
            >
              <input class="btn-delete" type="submit" value="ELIMINAR" />
              <% } %>
            </form>
            <div class="text">
              <div class="desc-short">
                <p><%= productList.descShort %></p>
              </div>
              <div class="desc-large">
                <p><%= productList.descLarge %></p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
