<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productEdit.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-desktop.css" />
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer src="/validationsFront/productEdit.js"></script>
  <script src="/scripts.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/validationsFront.css" />
  <body>
    <div class="errores">
      <ul></ul>
    </div>
    <%- include ('../partials/header') %>
    <main>
      <div class="container">
        <div class="box">
          <div class="title">
            <h1>Edición de producto</h1>
          </div>
          <div class="half1">
            <div class="image">
              <img
                class="preview"
                src="/images/<%= productList.images[0].path %>"
              />
            </div>
          </div>
          <div class="half2">
            <form
              action="/viewProduct/update"
              method="POST"
              class="fields"
              id="news"
              enctype="multipart/form-data"
            >
              <input
                class="input-field"
                type="hidden"
                name="id"
                value="<%= productList.id %>"
                readonly="readonly"
              />
              <div class="name">
                <label class="labelName" for="">Nombre:</label>
                <input
                  class="input-field"
                  class="input"
                  type="text"
                  name="name"
                  value="<%= productList.name %>"
                />
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.name) { %>
                  <p class="msg-error"><%= locals.errors.name.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="descShort">
                <label for="">Descripcion corta:</label>
                <input
                  class="input-field"
                  type="text"
                  name="descShort"
                  value="<%= productList.descShort %>"
                />
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.descShort) { %>
                  <p class="msg-error"><%= locals.errors.descShort.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="descLarge">
                <label for="">Descripcion larga:</label>
                <textarea
                  class="input-field"
                  name="descLarge"
                  placeholder=""
                  rows="5"
                  cols="50"
                >
<%= productList.descLarge %></textarea
                >
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.descLarge) { %>
                  <p class="msg-error"><%= locals.errors.descLarge.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="price">
                <label for="">Precio:</label>
                <input
                  class="input-field"
                  type="number"
                  name="price"
                  value="<%= productList.price %>"
                />
                <i class="fa fa-solid fa-hashtag"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.price) { %>
                  <p class="msg-error"><%= locals.errors.price.msg %></p>
                  <% } %>
                </div>
              </div>
              <div class="collection-create">
                <label for="">Categoria:</label>
                <input
                  class="input-field"
                  type="text"
                  name="collection"
                  value="<%= productList.collection %>"
                />
                <i class="fa fa-solid fa-keyboard"></i>
                <div class="errors">
                  <p class="feed"></p>
                  <% if (errors.collection) { %>
                  <p class="msg-error"><%= locals.errors.collection.msg %></p>
                  <% } %>
                </div>
              </div>
              <div class="discount">
                <label for="">Descuento:</label>
                <input
                  class="input-field"
                  type="number"
                  name="discount"
                  value="<%= productList.discount %>"
                />
                <i class="fa fa-solid fa-hashtag"></i>
                <div class="errors">
                  <% if (errors.discount) { %>
                  <p class="msg-error"><%= locals.errors.discount.msg %></p>
                  <% } %>
                </div>
              </div>

              <div class="stock">
                <label for="">Stock:</label>
                <input
                  class="input-field"
                  type="number"
                  name="stock"
                  value="
          <%= productList.stock %>"
                />
                <i class="fa fa-solid fa-hashtag"></i>
                <div class="errors">
                  <% if (errors.stock) { %>
                  <p class="msg-error"><%= locals.errors.stock.msg %></p>
                  <% } %>
                </div>
              </div>

              <input
                class="input-field"
                type="hidden"
                name="imagepath"
                value="
          <%= productList.images[0].path %>"
                readonly
              />

              <div class="image-fields-container">
                <label for="image">Cambiar imagen</label>
                <input
                  class="image-upload"
                  type="file"
                  name="image"
                  id="image"
                  autocomplete="off"
                  onchange="loadFile(event)"
                  hidden
                />
                <div class="errors">
                  <p class="feed-img"></p>
                  <% if (errors.image) { %>
                  <p class="msg-error-img"><%= locals.errors.image.msg %></p>
                  <% } %>
                </div>
              </div>

              <% if(userLoggedIn && userLoggedIn.isAdmin == true){ %>
              <div class="buttons">
                <div class="submit-container">
                  <input
                    class="submit"
                    type="submit"
                    value="Actualizar datos"
                  />
                </div>
              </div>
            </form>
            <form
              method="POST"
              action="/viewProduct/<%= productList.id%>/delete"
            >
              <input class="btn-delete" type="submit" value="ELIMINAR" />
              <% } %>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
