<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productDetail.css" />
  <link rel="stylesheet" type="text/css" href="/css/productDetail-tablet.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/productDetail-desktop.css"
  />
  <script src="/scripts.js"></script>
  <body>
    <%- include ('../partials/header') %>
    <main>
      <div class="container">
        <div class="box">
          <% if(userLoggedIn && userLoggedIn.isAdmin == true){ %>
          <div class="buttons">
            <div class="btn-edit-container">
              <a
                class="btn-edit"
                href="/viewProduct/<%= productList.id%>/editar"
                >EDITAR</a
              >
              <i class=" fa fa-solid fa-pen-to-square"></i>
            </div>
            <div class="btn-delete-container">
              <form
                class="fields"
                method="POST"
                action="/viewProduct/<%= productList.id%>/delete"
              >
                <input class="btn-delete" type="submit" value="ELIMINAR" />
                <i class=" fa fa-solid fa-trash"></i>
              </form>
            </div>
          </div>
          <% } %>
          <div class="half-1">
            <div class="prd-name">
              <p><%= productList.name %></p>
            </div>
            <div class="image">
              <% if(productList.discount == ""){ %>
              <div class="corner-text-wrapper-hidden">
                <div class="corner-text-hidden">
                  <span class="span-hidden"></span>
                </div>
              </div>
              <% } else{ %>
              <div class="corner-text-wrapper">
                <div class="corner-text">
                  <span><%= productList.discount %>% off </span>
                </div>
              </div>
              <% } %>
              <img
                class="preview"
                src="/images/<%= productList.images[0].path %>"
              />
            </div>
          </div>
          <div class="half-2">
            <div class="text">
              <div class="desc-short">
                <p><%= productList.descShort %></p>
              </div>
              <div class="desc-large">
                <p><%= productList.descLarge %></p>
              </div>
            </div>
            <div class="description">
              <div class="price">
                <p>$<%= productList.price %></p>
              </div>
              <form
                class="fields"
                method="POST"
                action="/cart/<%= productList.id %>/comprarProduct"
              >
                <input
                  class="btn-cart"
                  type="submit"
                  value="Agregar al carrito"
                />
              </form>
              <a class="btn-buy" href="">Comprar</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
