<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productEdit.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-desktop.css" />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div class="banner">
        <img src="/images/banner.jpg" />
      </div>
      <div id="container">
        <form
          class="fields"
          method="POST"
          action="/viewProduct/editar?_method=PUT"
        >
          <label for="">ID: </label>
          <input
            class="input-fields"
            type="number"
            name="id"
            value="<%= productList[i].id %>"
            readonly="readonly"
          />
          <label for="">Nombre: </label>
          <input
            class="input-fields"
            class="input"
            type="text"
            name="name"
            value="<%= productList[i].name %>"
          />
          <label for="">Descripcion corta:</label>
          <input
            class="input-fields"
            type="text"
            name="descs"
            value="<%= productList[i].descs %>"
          />
          <label for="">Descripcion larga:</label>
          <input
            class="input-fields"
            type="text"
            name="descl"
            value="<%= productList[i].descl %>"
          />
          <label for="">Precio:</label>
          <input
            class="input-fields"
            type="number"
            name="price"
            value="<%= productList[i].price %>"
          />
          <label for="">Descuento:</label>
          <input
            class="input-fields"
            type="number"
            name="disc"
            value="<%= productList[i].disc %>"
          />
          <label for="">Imagen:</label>
          <input
            class="input-fields"
            type="text"
            name="image"
            value="<%= productList[i].image %>"
          />
          <input class="submit" type="submit" value="Actualizar datos" />
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
