<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productCreate.css" />
  <link rel="stylesheet" type="text/css" href="/css/productCreate-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/productCreate-desktop.css" />
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>   
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer src="/validationsFront/productCreate.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/validationsFront.css" />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div class="banner">
        <img src="/images/banner.jpg" />
      </div>
      <div class="container">
        <div class = "errores">
             <ul></ul>
        </div>
        <form action="/viewProduct/createProduct" method="post" class="fields" id="news" enctype="multipart/form-data"
        >
   <div class="name">
          <label for="name">Nombre:</label>
          <input
            class="input-field" 
            type="text"
            name="name"
            autocomplete="off"
            placeholder="Nombre del producto"
            value="<%= locals.oldData ? oldData.name : null %>"
          />
          <p class="feed" ></p>
          <% if (errors.name) { %>
          <p class="msg-error"><%= locals.errors.name.msg %></p>
          <% } %>
        </div>
        <div class="descShort">
          <label for="descShort">Descripcion corta:</label>
          <input
            class="input-field"
            type="text"
            name="descShort"
            autocomplete="off"
            placeholder="Descripcion breve"
            value="<%= locals.oldData ? oldData.descShort : null %>"
          />
          <p class="feed" ></p>
          <% if (errors.descShort) { %>
          <p class="msg-error"><%= locals.errors.descShort.msg %></p>
          <% } %>
        </div>
        <div class="descLarge">
          <label for="descLarge">Descripcion larga:</label>
          <input
            class="input-field"
            type="text"
            name="descLarge"
            autocomplete="off"
            placeholder="Descripcion larga"
            value="<%= locals.oldData ? oldData.descLarge : null %>"
          />
          <p class="feed" ></p>
          <% if (errors.descLarge) { %>
          <p class="msg-error"><%= locals.errors.descLarge.msg %></p>
          <% } %>
        </div>
        <div class="price">
          <label for="price">Precio:</label>
          <input
            class="input-field"
            type="number"
            name="price"
            autocomplete="off"
            placeholder="Precio"
            value="<%= locals.oldData ? oldData.price : null %>"
          />
          <p class="feed" ></p>
          <% if (errors.price) { %>
          <p class="msg-error"><%= locals.errors.price.msg %></p>
          <% } %>
        </div>
        <div class="discount">
          <label for="discount">Descuento:</label>
          <input
            class="input-field"
            type="number"
            name="discount"
            autocomplete="off"
            placeholder="Descuento (opcional)"
            value="<%= locals.oldData ? oldData.discount : null %>"
          />
          <p class="feed" ></p>
          <% if (errors.discount) { %>
          <p class="msg-error"><%= locals.errors.discount.msg %></p>
          <% } %>
        </div>
        <div class="stock">
          <label for="stock">Stock:</label>
          <input
            class="input-field"
            type="number"
            name="stock"
            autocomplete="off"
            placeholder="Cantidad de stock (opcional)"
            value="<%= locals.oldData ? oldData.stock : null %>"
          />
          <p class="feed" ></p>
          <% if (errors.discount) { %>
          <p class="msg-error"><%= locals.errors.stock.msg %></p>
          <% } %>
        </div>
          <div class="image-fields-container">
            <label for="image">Foto del producto:</label>
            <input
              class="image-upload"
              type="file"
              name="image"
              id="image"
              autocomplete="off"
            />
            <p class="feed" ></p>
            <% if (errors.image) { %>
            <p class="msg-error"><%= locals.errors.image.msg %></p>
            <% } %>
          </div>
          <input class="submit" type="submit" value="Crear producto" />
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
