<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productEdit.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/productEdit-desktop.css" />
  <script src="/validationsFront/productCreate.js"></script>
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div class="banner">
        <img src="/images/banner.jpg" />
      </div>
      <div class="container">
        <div class = "errores">
             <ul></ul>
        </div>
        <form
          action="/viewProduct/createProduct"
          method="post"
          class="fields"
          id="create"
          enctype="multipart/form-data"
        >
          <!--           <input
            class="input-fields"
            type="text"
            name="id"
            readonly="readonly"
          /> -->
          <label for="">Nombre:</label>
          <input
            class="input-fields name" 
            type="text"
            name="name"
            autocomplete="off"
            placeholder="Nombre del producto"
            value="<%= locals.oldData ? oldData.name : null %>"
          />
          <% if (errors.name) { %>
          <p class="msg-error"><%= locals.errors.name.msg %></p>
          <% } %>

          <label for="">Descripcion corta:</label>
          <input
            class="input-fields"
            type="text"
            name="descShort"
            autocomplete="off"
            placeholder="Descripcion breve"
            value="<%= locals.oldData ? oldData.descShort : null %>"
          />
          <% if (errors.descShort) { %>
          <p class="msg-error"><%= locals.errors.descShort.msg %></p>
          <% } %>

          <label for="">Descripcion larga:</label>
          <input
            class="input-fields descLarge"
            type="text"
            name="descLarge"
            autocomplete="off"
            placeholder="Descripcion larga"
            value="<%= locals.oldData ? oldData.descLarge : null %>"
          />

          <% if (errors.descLarge) { %>
          <p class="msg-error"><%= locals.errors.descLarge.msg %></p>
          <% } %>

          <label for="">Precio:</label>
          <input
            class="input-fields"
            type="number"
            name="price"
            autocomplete="off"
            placeholder="Precio"
            value="<%= locals.oldData ? oldData.price : null %>"
          />
          <% if (errors.price) { %>
          <p class="msg-error"><%= locals.errors.price.msg %></p>
          <% } %>

          <label for="">Descuento:</label>
          <input
            class="input-fields"
            type="number"
            name="discount"
            autocomplete="off"
            placeholder="Descuento (opcional)"
            value="<%= locals.oldData ? oldData.discount : null %>"
          />
          <% if (errors.discount) { %>
          <p class="msg-error"><%= locals.errors.discount.msg %></p>
          <% } %>
          <label for="">Stock:</label>
          <input
            class="input-fields"
            type="number"
            name="stock"
            autocomplete="off"
            placeholder="Cantidad de stock (opcional)"
            value="<%= locals.oldData ? oldData.stock : null %>"
          />
          <% if (errors.discount) { %>
          <p class="msg-error"><%= locals.errors.stock.msg %></p>
          <% } %>

          <div class="image-fields-container">
            <label for="image">Foto del producto:</label>
            <input
              class="image-upload"
              type="file"
              name="image"
              id="image"
              autocomplete="off"
            />
          </div>
          <% if (errors.image) { %>
          <p class="msg-error"><%= locals.errors.image.msg %></p>
          <% } %>
          <input class="submit" type="submit" value="Crear producto" />
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
