<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/productDetail.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/productDetail-tablet.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/productDetail-desktop.css"
  />
  <%- include ('../partials/header') %>
  <body>
    <main>
      <div id="container">
        <form
        class="fields"
        method="POST"
        action="/cart/<%= productList[i].id %>/comprarProduct">
        <section class="producto">
          <div class="half-1">
            <div class="prd-name">
              <p><%= productList[i].name %></p>
            </div>
            <div class="image">
              <img
                class="preview"
                src="/images/<%= productList[i].image %>"
              />
            </div>
            <div class="description">
              <p class="disc">
                <% if(productList[i].disc.length == 0){ %> <%=
                productList[i].disc %> <% } else{ %> <%= productList[i].disc %>%
                off <% } %>
              </p>
              <div class="price">
                <p>$<%= productList[i].price %></p>
              </div>        
              <input class="AddCart" type="submit" value="Agregar al carrito" />
              <a class="buy" href="">Comprar</a>
                  </div>
          </div>

          <div class="half-2">
            <% if(userLoggedIn){ %>
            <a class="btn-edit" href="/viewProduct/<%= productList[i].id%>/editar"
              >EDITAR</a
            >
            <form
              class="fields"
              method="POST"
              action="/viewProduct/eliminar?_method=POST"
            >
              <a
                class="btn-delete"
                href="/viewProduct/<%= productList[i].id%>/eliminar"
                >ELIMINAR</a
              >
            </form>
            <% } %>

            <div class="text">
              <div class="desc-short">
                <p><%= productList[i].descs %></p>
              </div>
              <div class="desc-large">
                <p><%= productList[i].descl %></p>
              </div>
            </div>
            
            </div>
          </div>
        </form>
        </section>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer') %>
</html>
