<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/accountDetails.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/accountDetails-tablet.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/accountDetails-desktop.css"
  />
  <body>
    <div class="container">
      <%- include ('../partials/header') %>
      <main>
        <div class="banner">
          <img src="/images/banner.jpg" />
        </div>
        <div>
          <img
          class="avatar"
          src="/assets/avatars/<%= userLoggedIn.avatar %>"
        />
        </div>
        <form class="fields" method="POST" action="/user/update" enctype="multipart/form-data">
      <!--   <form  action="/viewLogin/update?_method=PUT" method="POST"> -->
          <div class="id">
            <input class="input-fields" 
              type="hidden"
              name="id"
              value="<%= userLoggedIn.id %>"
              readonly="readonly"
            />
          </div>
        <div class="firstName">
          <label for="user">Nombre:</label>
          <input class="input-fields" 
            type="text"
            name="first_name"
            value="<%= userLoggedIn.first_name %>"
          />
        </div>
        <div class="lastName">
          <label for="user">Apellido:</label>
          <input class="input-fields" 
            type="text"
            name="last_name"
            value="<%= userLoggedIn.last_name %>"
          />
        </div>
        <div class="user">
          <label for="user">Nombre de usuario:</label>
          <input class="input-fields" 
            type="text"
            name="user_name"
            value="<%= userLoggedIn.user_name %>"
          />
        </div>
        <div class="email">
          <label for="email">E-mail:</label>
          <input class="input-fields" 
            type="email"
            name="email"
            value="<%= userLoggedIn.email %>"
          />
        </div>
        <div class="passwords">
          <label for="password">Contraseña:</label>
          <input class="input-fields" type="password" name="passwd" placeholder="******" />
        </div>
        <div class="image-fields-container">
          <label for="image">Actualizar foto de perfil:</label>
          <input type="hidden" name="avatar" value="<%= userLoggedIn.avatar %>" />
          <input class="image-upload" type="file" name="avatar"/>
        </div>
        <div class="buttons">
          <input class="submit" type="submit" value="Actualizar datos" />
          <form class="" method="POST" action="/user/close?_method=PUT">
          <a class="btn-close" href="/user/close">Cerrar sesión</a>
          </form>
          <div class="show-btn-back">
          <a class="nav-back" href="/">Volver</a>
          </div>
        </form>
      </main>
    </div>
    <%- include ('../partials/footer') %>
  </body>
</html>
