<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/validationsFront.css" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <link rel="stylesheet" type="text/css" href="/css/login-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/login-desktop.css" />
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer src="/validationsFront/userLogin.js"></script>
  <script src="/scripts.js"></script>
  <body>
 
      <div class="errores">
        <ul></ul>
      </div>
      <%- include ('../partials/header') %>
      <main>
        <div class="container">
        <form
          class="fields"
          action="userLogin?_method=POST"
          method="POST"
          id="news"
        >
          <div class="title">
            <h1>Iniciar Sesión</h1>
          </div>
          <div class="user">
            <input
              class="input-field"
              type="text"
              name="userName"
              autocomplete="off"
              placeholder="Nombre de usuario"
              value="<%= locals.oldData ? oldData.userName : null %>"
            />
            <i class="fa fa-solid fa-user"></i>
            <div class="errors">
                <p class="feed"></p>
                <% if (errors.userName) { %>
                <p class="msg-error"><%= locals.errors.userName.msg %></p>
                <% } %>
                 </div>
          </div>

          <div class="passwords">
            <input
              class="input-field"
              type="password"
              name="passwd"
              autocomplete="off"
              placeholder="Ingresar contraseña"
              value="<%= locals.oldData ? oldData.passwd : null %>"
            />
            <i class="fa fa-solid fa-lock"></i>
            <div class="errors">
              <p class="feed"></p>
              <% if (errors.passwd) { %>
              <p class="msg-error"><%= errors.passwd.msg %></p>
              <% } %>
            </div>
          </div>

          <div class="buttons">
            <div class="submit-container">
              <button class="submit" type="submit" value="enviar">
                Enviar
              </button>
            </div>
            <div class="checkbox-container">
              <input class="checkbox" type="checkbox" name="remindme" />
              <label class="check-box-text" for="">Recordame</label>
            </div>
            <div class="nav-back-container">
              <a class="nav-back" href="/">Volver</a>
            </div>
          </div>
        </form>
      </main>
    </div>
    <%- include ('../partials/footer') %>
  </body>
</html>
