<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <link rel="stylesheet" type="text/css" href="/css/login-tablet.css" />
  <link rel="stylesheet" type="text/css" href="/css/login-desktop.css" />
  <body>
    <div class="container">
      <%- include ('../partials/header') %>
      <main>
        <div class="banner">
          <img src="/images/banner.jpg" />
        </div>
        <form action="userLogin?_method=POST" method="POST">
          <div class="user">
            <label for="user">Nombre de usuario</label>
            <input
              class="input-fields"
              type="text"
              name="user_name"
              autocomplete="off"
              placeholder="Username"
              value="<%= locals.oldData ? oldData.user_name : null %>"
            />
            <% if (errors.user_name) { %>
            <p class="msg-error"><%= locals.errors.user_name.msg %></p>
            <% } %>
          </div>
          <div class="passwords">
            <label for="password">Ingresar contraseña</label>
            <input
              class="input-fields"
              type="password"
              name="passwd"
              autocomplete="off"
              placeholder="Password"
              value="<%= locals.oldData ? oldData.passwd : null %>"
            />
            <% if (errors.passwd) { %>
            <p class="msg-error"><%= errors.passwd.msg %></p>
            <% } %>
          </div>
          <div>
            <label for="">Recordame</label>
            <input type="checkbox" name="remindme" />
          </div>
          <div class="buttons">
            <button type="submit" value="enviar">Enviar</button>
            <div class="show-btn-back">
              <a class="nav-back" href="/">Volver</a>
            </div>
          </div>
        </form>
      </main>
    </div>
    <%- include ('../partials/footer') %>
  </body>
</html>
