<% for (let i = 0; i < productList.length; i++) { %>
<article class="producto">
  <div class="image">
    <a href="viewProduct/<%= productList[i].id%>/mostrar"
      ><img class="preview" src="/images/<%= productList[i].images[0].path %>"
    /></a>
  </div>
  <div class="prd-container">
    <div class="prd-name">
      <p><%= productList[i].name %></p>
    </div>
    <div class="desc">
      <p><%= productList[i].descShort %></p>
    </div>
    <div class="price">
      <p>$<%= productList[i].price %></p>
      <p class="discount">
        <%= productList[i].discount.length == 0 ? productList[i].discount :
        productList[i].discount + "% off" %>
      </p>
    </div>
  </div>
</article>
<% } %>
