<% for (let i = 0; i < productList.length; i++) { %>
<article class="producto">
  <div class="image">
    <a href="viewProduct/<%= productList[i].id%>/mostrar"
      ><img class="preview" src="/images/<%= productList[i].images[0].path %>"
    /></a>
  </div>
  <div class="prd-container">
    <div class="prd-name">
      <p><%= productList[i].name %></p>
    </div>
    <div class="desc">
      <p><%= productList[i].descShort %></p>
    </div>
    <div class="price">
      <p>$<%= productList[i].price %></p>
      <p class="discount">
        <%= productList[i].discount.length == 0 ? productList[i].discount :
        productList[i].discount + "% off" %>
      </p>
    </div>
  </div>
<% if(userLoggedIn && userLoggedIn.isAdmin == true){ %>
    <div class="buttons">
      <div class="btn-edit-container">
        <a
          class="btn-edit"
          href="/viewProduct/<%= productList[i].id%>/editar"
          >EDITAR</a
        >
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
      <div class="btn-delete-container">
        <form
          class="fields"
          method="POST"
          action="/viewProduct/<%= productList[i].id%>/delete"
        >
          <input class="btn-delete" type="submit" value="ELIMINAR" />
          <i class="fa-solid fa-trash"></i>
        </form>
      </div>
    </div>
    <% } %>
</article>
<% } %>
