<% for (let i = 0; i < productList.length; i++) { %>
<article class="card">
  <div class="image">
    <a href="viewProduct/<%= productList[i].id%>/mostrar"
      ><img class="preview" src="/images/<%= productList[i].images[0].path %>"
    /></a>
  </div>
  <div class="details">
    <div class="center">
      <div class="prd-name">
        <h1><%= productList[i].name %></h1>
      </div>
      <div class="desc">
        <p><%= productList[i].descShort %></p>
      </div>
      <div class="num">
        <div class="price">
          <p>$<%= productList[i].price %></p>
        </div>
        <div class="discount">
          <p>
            <%= productList[i].discount.length == 0 ? productList[i].discount :
            productList[i].discount + "% off" %>
          </p>
        </div>
      </div>
      <ul class="buttons">
        <li class="cart">
          <form
            class="fields"
            method="POST"
            action="/cart/<%= productList[i].id %>/comprarProduct"
          >
            <button
              class="btn-cart"
              style="font-size: 15px"
              class="btn-delete"
              type="submit"
            >
              <i class=" fa fa-solid fa-cart-shopping" aria-hidden="true"></i>
            </button>
          </form>
        </li>
        <li class="shop">
          <a href="#"
            ><i class=" fa fa-solid fa-bag-shopping" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="buttons-admin">
    <% if(userLoggedIn && userLoggedIn.isAdmin == true){ %>
    <li class="btn-edit-container">
      <a class="btn-edit" href="/viewProduct/<%= productList[i].id%>/editar"
        ><i class=" fa fa-solid fa-pen-to-square" aria-hidden="true"></i
      ></a>
    </li>
    <li class="btn-delete-container">
      <form
        class="fields"
        method="POST"
        action="/viewProduct/<%= productList[i].id%>/delete"
      >
        <button style="font-size: 20px" class="btn-delete" type="submit">
          <i class=" fa fa-solid fa-trash"></i>
        </button>
      </form>
    </li>
    <% } %>
  </ul>
</article>
<% } %>
