<% for (let i = 1; i < productList.length; i++) { %> <% if(productList[i].name
!= 'DELETED'){ %>
<article class="producto">
  <div class="image">
    <a href="producto/<%= productList[i].id%>/mostrar"
      ><img class="preview" src="../public/images/<%= productList[i].image %>"
    /></a>
  </div>
  <div class="prd-container">
    <div class="prd-name">
      <p><%= productList[i].name %></p>
    </div>
    <div class="desc">
      <p><%= productList[i].descs %></p>
    </div>
    <div class="price">
      <p>$<%= productList[i].price %></p>
      <p class="disc">
        <%= productList[i].disc.length == 0 ? productList[i].disc :
        productList[i].disc + "% off" %>
      </p>
    </div>
  </div>
</article>
<% } %> <% } %>
